@import url('https://fonts.googleapis.com/css2?family=Atma:wght@700&family=Dancing+Script&display=swap');

:root{
    --primary: #29B9F2;
    --secundary: #F2CB05;
    --terciary: #F25835;
    --fundo: #22A2F2;
    --forLinks: #F28705; 
  }

  body{
      background-color: var(--fundo);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin: 10px;
      
  }

  header{
     font-family: monospace;
      background-color: var(--secundary);
      margin: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }

  /* Efeito piscando */
  h1{
    font-family: 'Atma', cursive; 
    font-size: 50px
  }

 h1::after{
     content: "";
     position: relative;
     border-right: 4px solid red;
     animation: piscar 500ms linear infinite;
 }

 @keyframes piscar{
     from{opacity: 0;}
     to{opacity: 1;}
 }

  nav{
      text-align: center;
      font-size: 20px;
      margin: auto;
  }

 /* A partir daqui é o projeto*/

.title{
  background-color: var(--secundary);
  width: 20vw;
  margin: auto;
  border-radius: 30px;
}

p{
    float: left; 
    margin-right: 10px;
    font-size: 18px;
    font-style: bold;  
  }
   
  section{
    height: 50vw;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--terciary);
    margin: auto;
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

/** A partir daqui entra o código **/
 
article{
    padding-top: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
   align-items: center;
}


.sliderHeader{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--terciary);
    
}
.slider{
    width: 700px;
    height: 300px;
    overflow: hidden;
}

.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
    
}

.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
}

.slider--controls{
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--control{
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    overflow: hidden; 
    cursor: pointer;
}

.noticias{

    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h3{
    text-align: center;
}

.noticia1{
    width: 60vh;
    padding: 5px;
    text-align: justify;
    background-color: rgba(238, 235, 235, 0.651);
}

.noticia2{
    width: 60vh;
    padding: 5px;
    text-align: justify;
    background-color: rgba(238, 235, 235, 0.651);
}

.noticia3{
    width: 60vh;
    padding: 5px;
    text-align: justify;
    background-color: rgba(238, 235, 235, 0.651);
}

 